@charset "ISO-8859-1";

body, html {
	margin: 0;
	padding: 0;
	height: 100%;
	background-image: url("narutoBG.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	/*background: rgb(255, 128, 64) !important;*/
}

.user_card {
	height: 900px;
	width: 550px;
	margin-top: auto;
	margin-bottom: auto;
	background: rgb(0, 0, 0, 0.85);
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 50px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
	border-radius: 10px;
}

.brand_logo_container {
	position: absolute;
	height: 300px;
	width: 300px;
	top: 30px;
	border-radius: 50%;
	background: rgb(255, 128, 64);
	padding: 10px;
	text-align: center;
}

.brand_logo {
	height: 280px;
	width: 280px;
	border-radius: 50%;
	border: 2px solid rgb(0, 0, 0);
}

.form_container {
	margin-top: 100px;
}

.login_btn {
	width: 100%;
	background: rgb(255, 128, 64) !important;
	color: white !important;
	font-style: Bold;
}

.login_btn:focus {
	box-shadow: none !important;
	outline: 0px !important;
}

.login_container {
	padding: 0 5rem;
}

.quote_container{
	position: absolute;
	bottom: 30px;
	height: 250px;
	width: 500px;
	border-radius: 5%;
	background: rgb(0, 0, 0, 0.65);
}

.quote_text{
	display: flex;
  	justify-content: center;
  	align-items: center;
}

.input-group-text {
	background: rgb(255, 128, 64) !important;
	color: white !important;
	border: 0 !important;
	border-radius: 0.25rem 0 0 0.25rem !important;
}

.input_user, .input_pass:focus {
	box-shadow: none !important;
	outline: 0px !important;
}